<p-table [columns]="cols" [value]="payments" rows="10" dataKey="name" [expandedRowKeys]="expandedRows">
    <p>
        {{dataFromChild}}
    </p>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th width="1.5%"></th>
            <th width="45%">Apply Preset across all {{title}} tiers</th>
            <th width="10%">No Rights<br><a id="selectall" style="cursor: pointer;"
                    (click)="setRights2('noRights')">Select All</a>
            </th>
            <th width="10%">View Only<br><a id="selectall" style="cursor: pointer;"
                    (click)="setRights3('viewOnly')">Select All</a>
            </th>
            <th width="10%">Full Rights<br><a id="selectall" style="cursor: pointer;"
                    (click)="setRights('fullRights')">Select
                    All</a></th>
            <th width="10%" (click)="setRights4('customRights')">Custom Rights<br>
                <div id="hideLink"></div>
            </th>
            <th width="5%" id="headOne"></th>
            <th width="10%">Grant Rights<br><a id="selectall" style="cursor: pointer;"
                    (click)="grantRightsSelect($event)">Select
                    All</a></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>
                <a (click)="onRowExpand(rowData.name, $event)" style="margin-left:-7px">
                    <i [ngClass]="rowData.checkable ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'"></i>
                </a>

            </td>

            <td>
                <div [ngClass]="{'Payments':rowData.name == 'Payments', 'WireServices': rowData.name == 'Wire Services',
                'DomesticWireServices': rowData.name == 'Domestic Wire Services'}"><span>{{rowData.name}}</span>
                </div>
            </td>
            <td>
                <p-radioButton name="groupname" [name]="rowData.id" value="noRights" binary="true"
                    [(ngModel)]="rowData.globalRights" id="center">
                </p-radioButton>
            </td>
            <td>
                <p-radioButton name="groupname" [name]="rowData.id" value="viewOnly" [(ngModel)]="rowData.globalRights"
                    binary="true" id="center">
                </p-radioButton>
            </td>
            <td>
                <p-radioButton (click)="onClick(rowData.id, $event)" name="groupname" [name]="rowData.id"
                    value="fullRights" [(ngModel)]="rowData.globalRights" binary="true" id="center">
                </p-radioButton>
            </td>
            <td>
                <p-radioButton name="groupname" [name]="rowData.id" value="customRights"
                    [(ngModel)]="rowData.globalRights" binary="true" id="center"></p-radioButton>
            </td>
            <td>

            </td>
            <td>
                <p-checkbox [name]="rowData.id" [value]="rowData.treeId" [(ngModel)]="rowData.grantRight" binary="true"
                    id="center">
                </p-checkbox>
            </td>
        </tr>
        <ng-template [ngIf]="rowData.checkable && rowData.rights">
            <tr>

                <td colspan="8" style="padding:0px!important">
                    <app-rights-and-attributes (grantEmmiter)="displayGrant($event)" [rights]="rowData.rights"
                        [registers]="rowData.registers" (sendDataToParent)="eventFromChild($event)">
                    </app-rights-and-attributes>
                </td>
            </tr>
        </ng-template>




    </ng-template>


</p-table>