<p-table [columns]="cols" [value]="payments" rows="10" dataKey="name" selectionMode="single"
    [(selection)]="selectedRow">

    <ng-template pTemplate="header" let-columns>
        <tr style="cursor: pointer;">

            <th width="50%" class="apply" style="pointer-events: none;">Apply Preset across all {{title}} tiers</th>
            <th width="10%" class="norights">No Rights<br><a id="selectall" style="cursor: pointer;"
                    (click)="setRights2('noRights')">Select All</a>
            </th>
            <th width="10%" class="viewonly">View Only<br><a id="selectall" style="cursor: pointer;"
                    (click)="setRights3('viewOnly')">Select All</a>
            </th>
            <th width="10%" class="fullrights">Full Rights<br><a id="selectall" style="cursor: pointer;"
                    (click)="setRights('fullRights')">Select
                    All</a></th>
            <th width="7%" (click)="setRights4('customRights')" class="customrights">Custom Rights<br>
                <div id="hideLink"></div>
            </th>
            <th width="5%" id="headOne" style="pointer-events: none;"></th>
            <th width="10%" class="grantrights">Grant Rights<br><a id="selectall" style="cursor: pointer;"
                    (click)="grantRightsSelect($event)">Select
                    All</a></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr style="cursor: pointer;" (mouseover)="selectRow(rowData, event)" hover-class="btn-primary" [ngClass]="{'payments':rowData.name == 'Payments', 'wireservices': rowData.name == 'Wire Services',
                'domesticwireservices': rowData.name == 'Domestic Wire Services'}">
            <td class="zero" (click)="onRowExpand(rowData.name, $event)">
                <a style="margin-left:7px">
                    <i [ngClass]="rowData.checkable ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'"
                        style="float: left"></i>


                    <div [ngClass]="{'Payments':rowData.name == 'Payments', 'WireServices': rowData.name == 'Wire Services',
                'DomesticWireServices': rowData.name == 'Domestic Wire Services'}">
                        <span>{{rowData.name}}</span>
                    </div>
                </a>
            </td>

            <td style="text-align: center" class="two">
                <p-radioButton name="groupname" [name]="rowData.id" value="noRights" binary="true"
                    [(ngModel)]="rowData.globalRights" id="center">
                </p-radioButton>
            </td>
            <td style="text-align: center;" class="three">
                <p-radioButton name="groupname" [name]="rowData.id" value="viewOnly" [(ngModel)]="rowData.globalRights"
                    binary="true" id="center">
                </p-radioButton>
            </td>
            <td style="text-align: center;" class="four">
                <p-radioButton (click)="onClick(rowData.id, $event)" name="groupname" [name]="rowData.id"
                    value="fullRights" [(ngModel)]="rowData.globalRights" binary="true" id="center">
                </p-radioButton>
            </td>
            <td style="text-align: center;" class="five">
                <p-radioButton name="groupname" [name]="rowData.id" value="customRights"
                    [(ngModel)]="rowData.globalRights" binary="true" id="center"></p-radioButton>
            </td>
            <td style="pointer-events: none;">

            </td>
            <td style="text-align: center;" class="six">
                <p-checkbox class="grantrights" [name]="rowData.id" [value]="rowData.treeId"
                    [(ngModel)]="rowData.grantRight" binary="true">
                </p-checkbox>
            </td>
        </tr>
        <ng-template [ngIf]="rowData.checkable && rowData.rights">
            <tr style="cursor: pointer;">

                <td colspan="8" style="padding:0px!important">
                    <app-rights-and-attributes (grantEmmiter)="displayGrant($event)" [rights]="rowData.rights"
                        [registers]="rowData.registers" (sendDataToParent)="eventFromChild($event)">
                    </app-rights-and-attributes>
                </td>
            </tr>
        </ng-template>




    </ng-template>


</p-table>