<p-table *ngIf="registers" [value]="registers" id="rightsTable" selectionMode=”single”>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">

        <tr class="register"
            style="border-left: 0px!important; border-right: 0px!important; border-top: 0px!important; border-bottom: 1px!important;">
            <td style="width:45px; border-left: 0px!important; border-right: 0px!important;">
                <a data-href="#" (click)="onRowExpand(rowData, $event)">
                    <i [ngClass]="rowData.isOpen ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'"></i>
                </a>
            </td>
            <td style="border-left: 0px!important;  border-right: none!important;margin-left: 10px;">
                <div style="float:left;">
                    <span>{{rowData.name}}</span>
                    <div class="ui-toolbar-group-right" *ngIf="rowData.showLimitSet">
                        <p-button label="No limits Set" styleClass="ui-button-info"></p-button>
                    </div>
                    <div class="ui-toolbar-group-right" *ngIf="rowData.showBusinessUnit">
                        <p-button label="Business Unit" styleClass="ui-button-info"></p-button>
                    </div>
                </div>
            </td>
        </tr>
        <tr *ngIf="rowData.isOpen" class="register-detail" style="border-bottom: 1px solid black;">
            <div *ngIf="rowData.showLimitSet">
                <div style=" margin: 0 auto;">
                    <div style="white-space: nowrap; background-color: transparent;">
                        <span>How does the Daily Limit Work?</span><br>
                        <br>
                        Enter Daily Limits up to the max value if displayed below. To prevent an assigned user from
                        creating
                        or updating payments, remove
                        the <br> entitlement from the role. Leaving the Daily Limits blank will default to unlimited or
                        the
                        max
                        value if displayed below.
                    </div><br>
                </div>
                <div class="register-detail2">
                    <div class="column">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <label style="white-space: nowrap;">Daily Create Limit</label><br>

                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">$</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column bg-alt">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <label style="white-space: nowrap;">Daily Approve Limit</label><br>

                                <span class="ui-float-label">
                                    <input id="float-input" type="text" size="30" pInputText>
                                    <label for="float-input">$</label>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <td colspan="2">
                <app-attributes></app-attributes>
            </td> -->
            <div *ngIf="rowData.showBusinessUnit" style="height:150px;">
                <div class="register-assignment" style="margin-top: 30px; margin-left: 50px;">
                    <div>
                        <div style="display: block;white-space: nowrap;">Register Assignment comes from:</div>

                        <div style="margin-top: 20px;">
                            <p-radioButton class="myRadio" name="groupname" [name]="rowData.id" value="isBussinessUnit"
                                binary="true" [(ngModel)]="rowData.isBussinessUnit">
                            </p-radioButton>
                            <label class="myLabel" style="display: block;white-space: nowrap; margin-left: 10px;">
                                Business Units
                            </label>
                        </div>

                    </div>
                    <div>
                        <div style="margin-top: 40px;">
                            <p-radioButton class="myRadio" name="groupname" [name]="rowData.id"
                                value="isExplicitAssignment" binary="true" [(ngModel)]="rowData.isExplicitAssignment">
                            </p-radioButton>
                            <label class="myLabel" style="display: block;white-space: nowrap;">
                                Explicit Assignment
                            </label>
                        </div>
                    </div>

                </div>
                <div class="accounts-associated">
                    <!-- <table id="customers" style="float: right;">
                        <tr >
                            <th style="white-space: nowrap; background-color: transparent;">Company</th>
                            <th style="white-space: nowrap; background-color: transparent;">Contact</th>
                            <th style="white-space: nowrap; background-color: transparent;">Country</th>
                        </tr>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Berglunds snabbköp</td>
                            <td>Christina Berglund</td>
                            <td>Sweden</td>
                        </tr>

                    </table> -->

                </div>
            </div>

        </tr>
    </ng-template>
</p-table>


<p-table *ngIf="rights" [value]="rights">
    <ng-template pTemplate="body" let-rowData>
        <!-- <ng-template [ngIf]=> -->

        <tr *ngIf="rowData && rowData.checkable" class="rights"
            style="border-left: none!important; border-top: none!important;  border-bottom: 1px!important; border-right: none!important;">
            <td
                style="width:45px; border-left: none!important; border-top: none!important;  border-bottom: 1px!important; border-right: none!important;">
                <a>
                    <p-checkbox name="groupname" [value]="rowData" [(ngModel)]="rowData.checked" [ngClass]="{'approvalgroupview': rowData.name == 'Approval Group - View',
                 'payments_auditlogview':rowData.id == 'payments_auditlogview',
                'approvalgroupview':rowData.name == 'Approval Group - View',
                'approvalprofileview': rowData.name == 'Approval Profile - View',
                'importfilesview': rowData.name == 'Import Files - View',
                'importfilesmanageprofile': rowData.name == 'Import Files - Manage Profile',
                'managesecurereceiver':rowData.name == 'Manage Secure Receiver',
                'unmanagereceivers': rowData.name == 'Unmanaged Receivers',
                'wiremanagedreceiversview': rowData.name == 'Wire Managed Receivers - View',
                'viewpaymentdetails': rowData.name == 'View Payment Details',
                'viewreport': rowData.name == 'View Report',
                'payments_approvalgroupview_approve': rowData.id == 'payments_approvalgroupview_approve',
                'payments_approvalprofileview_delete': rowData.id == 'payments_approvalprofileview_delete',
                'payments_approvalprofileview_update': rowData.id == 'payments_approvalprofileview_update',
                'payments_approvalprofileview_create': rowData.id == 'payments_approvalprofileview_create',
                'payments_importfilesmanageprofile_approve': rowData.id == 'payments_importfilesmanageprofile_approve',
                'wire_wiremanagedreceiversview_delete': rowData.id == 'wire_wiremanagedreceiversview_delete',
                'wire_wiremanagedreceiversview_createupdate': rowData.id == 'wire_wiremanagedreceiversview_createupdate',
                'wire_wiremanagedreceiversview_approve': rowData.id == 'wire_wiremanagedreceiversview_approve',
                'domesticwire_viewpaymentdetails': rowData.id == 'domesticwire_viewpaymentdetails',
                'domesticwire_viewpaymentdetails_createupdatepayment': rowData.id == 'domesticwire_viewpaymentdetails_createupdatepayment',
                'createupdatepayment_paymentfromtemplate': rowData.id == 'createupdatepayment_paymentfromtemplate',
                'createupdatepayment_freeformtemplate': rowData.id == 'createupdatepayment_freeformtemplate',
                'createupdatepayment_paymentfromtemplate': rowData.id == 'createupdatepayment_paymentfromtemplate',
                'domesticwire_viewpaymentdetails_cancelpayment': rowData.id == 'createupdatepayment_paymentfromtemplate',
                'domesticwire_viewpaymentdetails_approvepayment': rowData.id == 'domesticwire_viewpaymentdetails_approvepayment',
                'domesticwire_viewpaymentdetails_importpayment': rowData.id == 'domesticwire_viewpaymentdetails_importpayment',
                'domesticwire_viewtemplatedetails_createtemplate': rowData.id == 'domesticwire_viewtemplatedetails_createtemplate',
                'domesticwire_viewtemplatedetails_edittemplate': rowData.id == 'domesticwire_viewtemplatedetails_edittemplate',
                'domesticwire_viewpaymentdetails_importpayment': rowData.id == 'domesticwire_viewpaymentdetails_importpayment',
                'edittemplate_edittemplatelimit': rowData.id == 'edittemplate_edittemplatelimit'
            }" binary="true" (click)="_sendDataToParent(data)">
                    </p-checkbox>
                </a>

            </td>
            <td style="width:45px; border: none!important;float:left ">
                <div>
                    <span style="white-space:nowrap; margin-left: -20px;"> {{rowData.name}}</span>
                </div>
            </td>
        </tr>

        <tr *ngIf="rowData && rowData.rights && rowData.checkable">
            <td [ngClass]="'noBorder'" style="border:none!important;">
            </td>
            <td style="border:none!important;">
                <app-rights-and-attributes [rights]="rowData.rights" [registers]="rowData.registers"
                    (click)="_sendDataToParent(data)" #data>
                </app-rights-and-attributes>
            </td>
        </tr>
    </ng-template>
    <!-- </ng-template> -->
</p-table>